#main-region {
  margin-top: 70px;
}

.search-field, .search-type, .search-line input, .second-search-type {
  float:left;
  margin-right:10px;
  width: 200px;
}

.js-delete {
  float:right;
}

.summary-wrapper {
  display: none;
}

span.orange {
  color:#f0ad4e;
}

pre {
  display:none;
}